.newbody{
  background-color: rgba(214, 250, 219, 0.911);
  margin-top: 65px;
  height: 100vh;
  width: 100%;
  position: fixed;
  padding-top: 35px;
}

.new {
  filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
  background-color: #63a0fc97;
  height: 450px;
  width: calc(100% - 400px);
  margin: 0 auto;
  border: solid 1px #ffffff;
  padding:30px 30px 0 30px;
  border-radius: 10px;
}

.titlname {
  font-size: 25px;
  color: #eeeeee;
  text-align: center;
  margin-bottom: 10px;
}
.textbox {
  width: 100%;
  height: calc(100% - 180px);
  font-size: 35px;
  padding: 20px;
  border: 1px #cccccc;
}
.submit {
  width: 200px;
  height: 100%;
  margin: 0 auto;
  &--btn {
    height: 50px;
    background-color: skyblue;
    color: #eeeeee;
    width: 200px;
    font-size: 20px;
    border-radius: 2px;
    line-height: 40px;
    margin-top: 30px;
    border-radius: 10px;
  }
}