.side-bar
  .side-bar__index
    = link_to "", class: "side-bar__index--link" do
      題目
  .side-bar__index
    = link_to "", class: "side-bar__index--link" do
      題目
  .side-bar__index
    = link_to "", class: "side-bar__index--link" do
      題目